  <div class="row">
  <div class="row list-wrapper">
    <ul class="list-group songs">
      {{#each model as |song|}}
        <li class="list-group-item">{{song.Title}} by <em> {{song.Band}}</em>
        <span class="rating pull-right">{{song.Rating}}</span>
        </li>
      {{/each}}
    </ul>
  </div>
  </div>
